
body {
    background-image: url(https://fdn.bloomthat.com/logos/2014/11/bloomthat-circle.png);
	background-position: center 15px;
	background-repeat: no-repeat;
	background-size: 6.5rem;
	background-color: #E4E2E2;
	font-family: sans-serif;
	padding: 0;
	margin: 0;
}

#content-box {
	border-radius: 3px;
	margin: 50px auto;
	height: 400px;
	width: 400px;
}

#content-box div {
	transition-property: transform;
	transition-duration: 0ms;
	display: inline-block;
	position: absolute;
	border-radius: 4px;
	cursor: pointer;
	padding: 10px;
	height: 4rem;
	width: 4rem;
	color: #949494;
	background-image: url(https://fdn.bloomthat.com/icons/2014/11/favicon.png);
	background-position: center 40px;
	background-repeat: no-repeat;
	background-color: white;
	background-size: 44%;
}

#content-box div h1 {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	pointer-events: none;
	text-align: center;
	line-height: 1.5rem;
	margin: 0;
}