html, body { height: 100% }
body {
    background-image: url(https://d26h2j717chvn2.cloudfront.net/assets/all/letote_home-eacfe20d99bb8204bec5b28412fcbd16.png);
	background-position: center 65px;
	background-repeat: no-repeat;
	background-size: 11.5em;
	background-color: #CCCACA;
	font-family: sans-serif;
	padding: 0;
	margin: 0;
}

#content-box {
	border-radius: 3px;
	height: 100%;
	width: 100%;
}

#content-box div {
	transition-property: transform;
	transition-duration: 0ms;
	display: inline-block;
	position: absolute;
	border-radius: 4px;
	cursor: pointer;
	padding: 10px;
	height: 65px;
	width: 65px;
	color: #949494;
	background-image: url(https://d26h2j717chvn2.cloudfront.net/assets/favicon-3944f708a797db120abe26afd1aa395b.ico);
	background-position: center 40px;
	background-repeat: no-repeat;
	background-color: white;
	background-size: 44%;
}

#content-box div h1 {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	pointer-events: none;
	text-align: center;
	margin: 0;
}